<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="John.SocialClub.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SocialClubDBConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;         Data Source=|DataDirectory|\SocialClub.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
  <userSettings>
    <John.SocialClub.Desktop.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>demo123</value>
      </setting>
    </John.SocialClub.Desktop.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="datasource" value="172.24.104.128,1433" />
    <add key="database" value="VPDK_NARI" />
    <add key="username" value="sa" />
    <add key="password" value="123456" />
    <add key="openExport" value="1" />
    <!--Import-->
    <add key="datasourceImport" value="172.24.104.128,1433" />
    <add key="databaseImport" value="VPDK" />
    <add key="usernameImport" value="sa" />
    <add key="passwordImport" value="123456" />
    <add key="pathImport" value="D:\var\jp2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>